*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 3rem;
    color: crimson;
}

p {
    font-weight: 400;
}

p span {
    font-weight: 600;
    color: firebrick;
}

.extraH2 {
    font-size: 2rem;
    color: rgb(6, 167, 30);
}